APP_MODE=LOCAL_DEMO
NEXT_PUBLIC_APP_MODE=LOCAL_DEMO
NEXT_PUBLIC_AZURE_API_URL=
APPLICATION_URL=http://localhost:3000
SERVER_REPOSITORY=memory
AUTH_PROVIDER=demo
SESSION_SECRET=
DEMO_AUTH_USERS_JSON=
AZURE_SQL_CONNECTION_STRING=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=
AZURE_SERVICE_BUS_CONNECTION_STRING=
AZURE_SERVICE_BUS_QUEUE=
MALWARE_SCANNER_ENDPOINT=
EMAIL_PROVIDER=
TEAMS_WEBHOOK_URL=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
APPLICATIONINSIGHTS_CONNECTION_STRING=
AZURE_SQL_BACKUP_CONFIGURED=false
AZURE_STORAGE_VERSIONING_CONFIGURED=false
AZURE_STORAGE_SOFT_DELETE_CONFIGURED=false
RECOVERY_RUNBOOK_URL=
RETENTION_UPLOADED_FILES_DAYS=90
RETENTION_TRANSACTION_DAYS=365
RETENTION_AUDIT_DAYS=2555
RETENTION_REPORT_DAYS=90
